$govuk-assets-path: '/static/assets/';

.top-controls__edit-button-container {
    margin-left: auto;
}

.top-controls {
    display: flex;
}

.enquiry-edit__button {
    margin-bottom: 0;
}

.govuk-summary-list .govuk-summary-list__row:nth-child(odd) {
    background-color: rgba(govuk-colour("light-grey"), 0.5);
}

.govuk-summary-list {
    border-top: 2px solid govuk-colour("mid-grey");
    &__key {
        padding-bottom: 9.5px;
    }
}
