$govuk-assets-path: '/static/assets/';

.list-item-label {
    color: #6f777b;
}

.entity__list-item {
    padding: 20px 0;
    border-bottom: 1px solid #6f777b;
}

.entity__title-link {
    text-decoration: none;
    font-size: x-large;
    color: #005ea5;
}

.entity__badges-item {
    border: 2px solid rgba(11,12,12,0.15);
    border-radius: 5px;
    font-weight: bold;
    padding: 3px;
    margin: 0 2px;
}

.entity__badges {
    margin-left: auto;
    margin-bottom: auto;
    display: flex;
}

.entity__header {
    display: flex;
}

.entity__content-item {
    margin: 10px 0;
    font-size: large;
}

.big-number-of-enquiries {
    font-size: 3rem;
}

.collection-header__intro {
    font-size: 1.5rem;
}

.collection-header__top-row {
    border-bottom: 5px solid black;
}

.pagination {
    margin-top: govuk-spacing(6);
}

.collection-header__row {
    display: flex;
    padding: govuk-spacing(3) 0;
    border-bottom: 1px solid #6f777b;
    margin-right: 0;
    justify-content: space-between;
}

.collection-header__row-no-border {
    border-bottom: none;
}

.filters__column {
    padding: 0;
}

.filters__select {
    width: 100%;
}

.import-enquiries-button {
    float: right;
    margin-bottom: 0;
}

.download-enquiries-button {
    margin-left: auto;
    margin-bottom: 0;
}

.header-page-number-container {
    padding: 0.5rem 0;
}

.download-button-container {
    margin-left: auto;
}
<<<<<<< HEAD
=======

.sortby-select {
    display: inline-block;
}
.sortby-container {
    display: flex;
    align-items: center;
}

.sortby-label {
    margin-right: 8px;
}
>>>>>>> Sort enquiries in list view
