{% load enquiries_extras %}
<form method="GET" action="/api/v1/enquiries/">
  {% include 'snippets/enquiry_field_checkbox.html' with group_id='enquiry_stage_container' heading='Enquiry stage' field=filters.enquiry_stage %}
  <div class="govuk-form-group" id="users">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h3 class="govuk-fieldset__heading">
          Owner
        </h3>
      </legend>
      <span id="users-hint" class="govuk-hint">
        Select all that apply.
      </span>
      <div class="govuk-checkboxes govuk-checkboxes--small">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="user" name="owner__suser__id" type="checkbox" value="added-to-data-hub">
          <label class="govuk-label govuk-checkboxes__label" for="user">
            Unassigned
          </label>
        </div>
        {% for owner in owners%}
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="user_{{owner.user.id}}" name="owner__user__id" type="checkbox" value="{{owner.user.id}}">
          <label class="govuk-label govuk-checkboxes__label" for="user_{{owner.user.id}}">
             {{owner.user.first_name}} {{owner.user.last_name}}
          </label>
        </div>
        {% endfor %}
      </div>
    </fieldset>
  </div>
    <div class="govuk-form-group">
    <label class="govuk-label" for="date_created__lt">
      Date received before
    </label>
    <input class="govuk-input" id="date_created__lt" name="created__lt" type="date" value="{{query_params.created__lt}}">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="date_created__gt">
      Date received after
    </label>
    <input class="govuk-input" id="date_created__gt" name="created__gt" type="date" value="{{query_params.created__gt}}">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="company_name">
      Company name
    </label>
    <input class="govuk-input" id="company_name" name="company_name__icontains" type="search" value={{query_params.company_name__icontains}}>
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="enquirer_email">
      Enquirer email address
    </label>
    <input class="govuk-input" id="enquirer_email" name="enquirer_email" type="search" value="{{query_params.enquirer_email}}">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="date_added_to_datahub__lt">
      Date added to Data Hub before
    </label>
    <input class="govuk-input" id="date_added_to_datahub__lt" name="date_added_to_datahub__lt" type="date" value="{{query_params.date_added_to_datahub__lt}}">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="date_added_to_datahub__gt">
      Date added to Data Hub after
    </label>
    <input class="govuk-input" id="date_added_to_datahub__gt" name="date_added_to_datahub__gt" type="date" value="{{query_params.date_added_to_datahub__gt}}">
  </div>
  <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" accesskey="s">
    Apply filters
  </button>
  <button class="govuk-button govuk-button--secondary" data-module="govuk-button" id="btn_clear" type="button" accesskey="c">
    Clear filters
  </button>
</form>
  
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const b = document.getElementById('btn_clear')
    b.addEventListener('click', (e) => {
      const controls_input = [
        'company_name', 'enquirer_email',
        'date_created__lt', 'date_created__gt',
        'date_added_to_datahub__lt', 'date_added_to_datahub__gt',
      ]

      const controls_select = []
      const controls_radio_check = ['users', 'enquiry_stage_container']

      // clear inputs
      controls_input.forEach((id, i) => {
        const el = document.getElementById(id)
        el.value = ''
      })
      // clear radio/checkboxes
      controls_radio_check.forEach((id, i) => {
        const el = document.getElementById(id)
        const els = [].slice.call(el.querySelectorAll('input'))
        console.log('els', els)
        els.forEach((el) => {
          el.checked = false
        })
        
      })
  })
  
  } )
</script>