{% load enquiries_extras %}
<form method="GET" action="{% url 'enquiry-list' %}" data-qa="search-filters">
  {% include 'snippets/enquiry_field_checkbox.html' with group_id='enquiry_stage_container' heading='Enquiry stage' field=filter_enquiry_stage query_params=query_params %}
  <div class="govuk-form-group" id="users" data-qa="search-filter-users">
    <fieldset class="govuk-fieldset">
      <label class="govuk-label" for="owner">
        Owner
      </label>

      <select class="govuk-select" id="owner__id" name="owner__id">
        <option selected>---</option>
        <option value="UNASSIGNED" {% query_params_value_selected 'UNASSIGNED' 'owner__id' query_params ' selected'  %}>
          Unassigned
        </option>
        {% for owner in owners %}
          <option value="{{ owner.id }}" {% query_params_value_selected owner.id 'owner__id' query_params ' selected'  %}>
            {{ owner }}
          </option>
        {% endfor %}
      </select>
    </fieldset>
  </div>
    <div class="govuk-form-group">
    <label class="govuk-label" for="received__lt">
      Received before
    </label>
    <input class="govuk-input" id="received__lt" name="received__lt" type="date" value="{{query_params.received__lt}}">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="received__gt">
      Received after
    </label>
    <input class="govuk-input" id="received__gt" name="received__gt" type="date" value="{{query_params.received__gt}}">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="company_name__icontains">
      Company name
    </label>
    <input class="govuk-input" id="company_name__icontains" name="company_name__icontains" type="search" value="{{query_params.company_name__icontains}}">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="enquirer__email">
      Enquirer email address
    </label>
    <input class="govuk-input" id="enquirer__email" name="enquirer__email" type="search" value="{{query_params.enquirer__email}}">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="date_added_to_datahub__lt">
      Company added to Data Hub before
    </label>
    <input class="govuk-input" id="date_added_to_datahub__lt" name="date_added_to_datahub__lt" type="date" value="{{query_params.date_added_to_datahub__lt}}">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="date_added_to_datahub__gt">
      Company added to Data Hub after
    </label>
    <input class="govuk-input" id="date_added_to_datahub__gt" name="date_added_to_datahub__gt" type="date" value="{{query_params.date_added_to_datahub__gt}}">
  </div>
  <button id="btn_submit" class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" accesskey="s">
    Apply filters
  </button>
  <a href="{% url 'enquiry-list' %}" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="btn_clear" type="button" accesskey="c">
    Clear filters
  </a>
</form>
