{% load enquiries_extras %}
<form method="GET" action="{% url 'enquiry-list' %}">
  {% include 'snippets/enquiry_field_checkbox.html' with group_id='enquiry_stage_container' heading='Enquiry stage' field=filters.enquiry_stage query_params=query_params %}
  <div class="govuk-form-group" id="users">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h3 class="govuk-fieldset__heading">
          Owner
        </h3>
      </legend>
      <span id="users-hint" class="govuk-hint">
        Select all that apply.
      </span>
      <div class="govuk-checkboxes govuk-checkboxes--small">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="user" name="owner" type="checkbox" value="UNASSIGNED" {% query_params_value_selected 'UNASSIGNED' 'owner' query_params ' checked'  %}>
          <label class="govuk-label govuk-checkboxes__label" for="user">
            Unassigned
          </label>
        </div>
        {% for owner in owners%}
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="user_{{owner.id}}" name="owner" type="checkbox" value="{{owner.id}}"{% query_params_value_selected owner.id 'owner' query_params ' checked'  %}>
          <label class="govuk-label govuk-checkboxes__label" for="user_{{owner.id}}">
             {{owner.user.first_name}} {{owner.user.last_name}}
          </label>
        </div>
        {% endfor %}
      </div>
    </fieldset>
  </div>
    <div class="govuk-form-group">
    <label class="govuk-label" for="date_created_before">
      Date received before
    </label>
    <input class="govuk-input" id="date_created_before" name="date_created_before" type="date" value="{{query_params.date_created_before}}">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="date_created_after">
      Date received after
    </label>
    <input class="govuk-input" id="date_created_after" name="date_created_after" type="date" value="{{query_params.date_created_after}}">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="company_name">
      Company name
    </label>
    <input class="govuk-input" id="company_name" name="company_name" type="search" value={{query_params.company_name}}>
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="enquirer_email">
      Enquirer email address
    </label>
    <input class="govuk-input" id="enquirer_email" name="enquirer_email" type="search" value="{{query_params.enquirer_email}}">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="date_added_to_datahub__lt">
      Date added to Data Hub before
    </label>
    <input class="govuk-input" id="date_added_to_datahub__lt" name="date_added_to_datahub_before" type="date" value="{{query_params.date_added_to_datahub_before}}">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="date_added_to_datahub__gt">
      Date added to Data Hub after
    </label>
    <input class="govuk-input" id="date_added_to_datahub__gt" name="date_added_to_datahub_after" type="date" value="{{query_params.date_added_to_datahub_after}}">
  </div>
  <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" accesskey="s">
    Apply filters
  </button>
  <a href="{% url 'enquiry-list' %}" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="btn_clear" type="button" accesskey="c">
    Clear filters
  </a>
</form>
