version: '3'

services:
  app:
    build: .
    volumes:
      - .:/usr/src/app
    depends_on:
      - db
      - redis
      - dh-api-mock
    ports:
      - "8000:8000"
    environment:
      ALLOW_TEST_FIXTURE_SETUP: allow
      DJANGO_SETTINGS_MODULE: app.settings.e2etest
      DJANGO_SUPERUSER_USERNAME: testuser
      DJANGO_SUPERUSER_EMAIL: testuser@example.com
      DJANGO_SUPERUSER_PASSWORD: testpass
    entrypoint: dockerize -wait tcp://db:5432 -wait tcp://redis:6379 -wait tcp://dh-api-mock:8001 -timeout 120s
    command: ./start.sh

  celery:
    build: .
    volumes:
      - .:/usr/src/app
    depends_on:
      - db
      - redis
      - dh-api-mock
    entrypoint: dockerize -wait tcp://db:5432 -wait tcp://redis:6379 -timeout 120s
    command: celery worker -A app -l info -Q celery -B

  db:
    image: postgres
    environment:
      POSTGRES_DB: postgres
      POSTGRES_PASSWORD: password

  redis:
    image: redis:3.2

  dh-api-mock:
    image: ukti/data-hub-sandbox:latest

  cypress:
    image: cypress/included:4.5.0
    working_dir: /e2e
    volumes:
      - .:/e2e
    depends_on:
      - app
    environment:
      CYPRESS_BASE_URL: http://app:8000
    entrypoint: cypress
