attrs==19.3.0
backcall==0.1.0
beautifulsoup4==4.8.2
cachecontrol-django==1.0.0
celery[redis]==5.2.2
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
coverage==5.2.1
cryptography==3.3.2
decorator==4.4.1
Django==3.1.14
django-autocomplete-light==3.5.0
django-cache-memoize==0.1.7
django-environ==0.4.5
django-extensions==2.2.5
django-filter==2.4.0
django-redis==4.11.0
django-rest-knox==4.1.0
django-staff-sso-client==2.2.0
djangorestframework==3.11.2
djangorestframework-csv==2.1.0
drf-writable-nested==0.5.3
django-widget-tweaks==1.4.5
django-model-choices==1.0.0
Faker==4.0.0
factory-boy==2.12.0
flake8==3.8.3
gunicorn==20.0.4
idna==2.8
ipython-genutils==0.2.0
itypes==1.1.0
jedi==0.15.1
Jinja2==2.11.3
Markdown==3.1.1
MarkupSafe==1.1.1
mohawk==1.1.0
more-itertools==8.0.2
lxml==4.6.5
openpyxl==3.0.3
packaging==19.2
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==2.0.10
psycopg2==2.8.4
ptyprocess==0.6.0
py==1.10.0
pycparser==2.19
Pygments==2.7.4
PyJWT==2.4.0
pyparsing==2.4.5
pytest==5.3.1
pytest-cov==2.10.0
pytest-django==3.7.0
pytest-freezegun==0.4.2
pytz==2019.3
redis==3.4.1
requests==2.25.1
requests-hawk==1.0.1
requests-mock==1.7.0
sentry-sdk==0.14.2
six==1.13.0
sqlparse==0.3.0
traitlets==4.3.3
uritemplate==3.0.0
urllib3==1.26.5
wcwidth==0.1.7
whitenoise==5.0.1
