<div class="company-search-assigned-company" id="company-search-assigned-company">
    <div class="company-search-result-name">
        {% if dh_assigned_company_name %}{{ dh_assigned_company_name }}{% else %}{{ enquiry.dh_assigned_company_name }}{% endif %}
    </div>
    <div class="company-search-result-address">
        <span class="company-search-result-address-label">Address </span><span class="company-search-result-address-value">{% if dh_company_address %}{{ dh_company_address }}{% else %}{{ enquiry.dh_company_address }}{% endif %}</span>
    </div>
</div>
