{% load enquiries_extras %}
<li class="entity__list-item">
    <div class="entity__enquiry">
        <div class="entity__header">
            <div class="entity__title">
                <h3>
                    <a class="entity__title-link"
                        href="{% url 'enquiry-detail' obj.id %}">{{ enquiry.company_name }}</a>
                </h3>
            </div>
            <div class="entity__badges">
                <div class="entity__badges-item">
                    <span>{{ enquiry.enquiry_stage }}</span>
                </div>
                <div class="entity__badges-item">
                    <span>{% if enquiry.owner %}{{ enquiry.owner.first_name|title }} {{ enquiry.owner.last_name|title }} {%else%} {{ "Unassigned" }}
                        {%endif%}</span>
                </div>
                {% if enquiry.country != "----" %}
                <div class="entity__badges-item">
                    <span>{{ enquiry.country }}</span>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="entity__content">
            <div class="entity__content-list">
                <div class="entity__content-item">
                    <span class="list-item-label">Date received</span>
                    <span class="list-item-value">{{ enquiry.received }}</span>
                </div>
                <div class="entity__content-item">
                    <span class="list-item-label">Enquiry text</span>
                    <span class="list-item-value">{{ enquiry.enquiry_text|truncate_chars_end_word:250 }}</span>
                </div>
                <div class="entity__content-item">
                    <span class="list-item-label">Date last updated</span>
                    <span class="list-item-value">{{ enquiry.modified }}</span>
                </div>
                {% if enquiry.enquirer.request_for_call != "----" %}
                <div class="entity__content-item">
                    <span class="list-item-label">Call requested</span>
                    <span class="list-item-value">{{ enquiry.enquirer.request_for_call }}</span>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</li>
