{% load enquiries_extras %}
<div class="govuk-form-group">
    <label class="govuk-label" for="{{ field }}">
        {{ instance|get_field_verbose_name:field }}
    </label>
    {% with value=instance|get_field_value:field %}
        <select class="govuk-select" id={{ field }} name={{ field }}>
            <option value="{{ True }}" {{ value|yesno:'selected,'}}>
                Yes
            </option>
            <option value="{{ False }}" {{ value|yesno:',selected'}}>
                No
            </option>
        </select>
    {% endwith %}
</div>
