version: 2.1
jobs:
  build:
    machine:
      docker_layer_caching: true
    working_directory: ~/emt
    steps:
      - checkout
      - run:
          name: Copy config
          command: cp sample_env app/settings/.env
      - run:
          name: Build docker stack
          command: docker-compose up -d
          environment:
            ALLOW_TEST_FIXTURE_SETUP: allow
            DJANGO_SETTINGS_MODULE: app.settings.e2etest
      - run:
          name: Run unit tests
          command: docker-compose run app python -m pytest -s --ds=app.settings.djangotest -vvv app
      - run:
          name: Setup test fixtures
          command: docker-compose exec app ./setup-fixtures.sh
      - run:
          name: Install dependencies
          command: docker-compose run --entrypoint npm cypress install moment@2.24.0
      - run:
          name: Run e2e tests
          # Chrome freezes when redirecting on the login page.
          # See: https://github.com/cypress-io/cypress/issues/3594
          command: docker-compose run cypress run --browser firefox
      - store_artifacts:
          path: cypress/screenshots
