{% extends 'base.html' %}
{% load static %}
{% block main %}

{% csrf_token %}
{% load widget_tweaks %}
{% load rest_framework %}
<h2 class="govuk-heading-l">Import enquiries</h2>
<button class="template-download-button govuk-button govuk-button--secondary" data-module="govuk-button">
    Template download
</button>
<div class="govuk-grid-row">
    <h4 class="govuk-heading-s">
        Steps
    </h4>
    <ol class="govuk-list govuk-list--number">
        <li>Click <strong>Template download</strong> to download the CSV template.</li>
        <li>Open the CSV template and insert the enquiry data.</li>
        <li>Save the CSV file.</li>
        <li>Click <strong>Choose file</strong>, locate your CSV file and then click <strong>Open</strong>.</li>
        <li>Click Upload file.</li>
    </ol>
</div>
<div class="govuk-grid-row">
    <div class="govuk-form-group">
        <label class="govuk-label" for="file-upload-1">
            Upload a file
        </label>
        <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
    </div>
</div>
<div class="govuk-grid-row">
    <button class="govuk-button" data-module="govuk-button">
        Upload file
    </button>
</div>

{% endblock %}

{% include 'partials/govuk_footer_partial.html' %}