{% load static %}

{% include 'base.html' %}

{% include 'partials/govuk_header_partial.html' %}

{% load widget_tweaks %}
{% load rest_framework %}
{% load enquiries_extras %}

<div class="govuk-width-container">

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

    <a href="{% url 'enquiry-detail' enquiry.id %}" class="govuk-back-link">Back</a>

    <br>
    {% if form.errors %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for field in form %}
                        {% for error in field.errors %}
                        <li>
                            <a href="#{{ field.name }}">{{ field.name|enquiry_field_error_msg }}</a>
                        </li>
                        {% endfor %}
                    {% endfor %}
                    {% for field in form.non_field_errors %}
                        <li>
                            <a href="#{{ field }}">{{ field|enquiry_field_error_msg }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row enquiry-detail__row enquiry-detail__header">

            <h2 class="govuk-heading-l">{{ enquiry.company_name }}</h2>

            <dl class="govuk-summary-list--no-border">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Date received
                    </dt>
                    <dd class="govuk-summary-list__value">{{ enquiry|get_field_value:"date_received" }}</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Date last updated
                    </dt>
                    <dd class="govuk-summary-list__value">{{ enquiry|get_field_value:"modified" }}</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Enquiry stage
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ enquiry|get_field_value:"enquiry_stage" }}</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Owner
                    </dt>
                    <dd class="govuk-summary-list__value">{% if enquiry.owner %}{{ enquiry.owner }} {%else%}
                        {{ "Unassigned" }} {%endif%}</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {{ enquiry|get_field_verbose_name:"dh_assigned_company_name" }}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if dh_assigned_company_name %}<a href="{{ enquiry|get_dh_company_url }}">{{ dh_assigned_company_name }}</a>{% else %}<a href="#">{{ enquiry.dh_assigned_company_name }}</a>{% endif %}
                    </dd>
                </div>
            </dl>
        </div>

        <form class="form" action="{% url 'enquiry-edit' enquiry.id %}" method="post">
            {% csrf_token %}

            <div class="govuk-grid-row enquiry-detail__row">

                <h3 class="govuk-heading-m">Enquiry overview</h3>

                {% include 'snippets/enquiry_field_input.html' with instance=enquiry field="company_name" %}

                {% include 'snippets/enquiry_field_input.html' with instance=enquiry field="company_hq_address" %}

                {% include 'snippets/enquiry_field_select.html' with instance=enquiry field="enquiry_stage" %}

                <!-- TODO: Replace with snippet when owner implementation is ready -->
                <div class="govuk-form-group">
                    <label for="owner" class="govuk-label">
                        {{ enquiry|get_field_verbose_name:"owner" }}
                    </label>
                    <select name="owner" id="{{ enquiry.owner }}" class="govuk-select">
                        <option value="" {% if not enquiry.owner %} selected {% endif %}>
                            Unassigned
                        </option>
                        {% for owner in enquiry|get_owners %}
                        <option value="{{ owner.id }}" {% if enquiry.owner.id == owner.id %} selected {% endif %}>
                            {{ owner }}
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="govuk-form-group">
                    <label for="company-search__assigned-company" class="govuk-label label--inline">
                        {{ enquiry|get_field_verbose_name:"dh_assigned_company_name" }}
                    </label>
                    <a class="govuk-link company-search__link" href="{% url 'enquiry-company-search' enquiry.id %}">Search for Data Hub company</a>

                    {% include 'snippets/company_search_assigned_company.html' %}

                    <!-- Assign selected company from the above search results to below fields -->
                    <!-- They are readonly and hidden but required for form submission -->
                    <input type="hidden" name="dh_company_id" id="dh_company_id" value="{{ dh_company_id }}">
                    <input type="hidden" name="dh_company_number" id="dh_company_number" value="{{ dh_company_number }}">
                    <input type="hidden" name="dh_duns_number" id="dh_duns_number" value="{{ dh_duns_number }}">
                    <input type="hidden" name="dh_assigned_company_name" id="dh_assigned_company_name" value="{{ dh_assigned_company_name }}"> <br>
                    <input type="hidden" name="dh_company_address" id="dh_company_address" value="{{ dh_company_address }}">
                    
                </div>

            </div>

            <div class="govuk-grid-row enquiry-detail__row">

                <h3 class="govuk-heading-m">Enquiry details</h3>

                <div class="read-only">
                    <div class="govuk-label">Enquiry text</div>
                    <p>{{ enquiry.enquiry_text }}</p>
                </div>

                {% include 'snippets/enquiry_field_select.html' with instance=enquiry field="investment_readiness" %}

                {% include 'snippets/enquiry_field_select.html' with instance=enquiry field="quality" %}

                {% include 'snippets/enquiry_field_select.html' with instance=enquiry field="first_response_channel" %}

            </div>

            <div class="govuk-grid-row enquiry-detail__row">

                <h3 class="govuk-heading-m">Company details</h3>

                {% include 'snippets/enquiry_field_input.html' with instance=enquiry field="website" %}

                {% include 'snippets/enquiry_field_select.html' with instance=enquiry field="country" %}

                {% include 'snippets/enquiry_field_select.html' with instance=enquiry field="region" %}

                {% include 'snippets/enquiry_field_select.html' with instance=enquiry field="primary_sector" %}

                <!-- TODO: investigate issue and fix Ist sector to IST sector -->
                {% include 'snippets/enquiry_field_select.html' with instance=enquiry field="ist_sector" %}

            </div>

            <div class="govuk-grid-row enquiry-detail__row">

                <h3 class="govuk-heading-m">Contact</h3>

                {% include 'snippets/enquiry_field_input.html' with instance=enquiry.enquirer field="first_name" %}

                {% include 'snippets/enquiry_field_input.html' with instance=enquiry.enquirer field="last_name" %}

                {% include 'snippets/enquiry_field_input.html' with instance=enquiry.enquirer field="job_title" %}

                <!-- TODO: Change label 'Enquirer email' to 'Enquirer email address' -->
                {% include 'snippets/enquiry_field_input_email.html' with instance=enquiry.enquirer field="email" %}

                <!-- TODO: Change label 'Enquirer phone' to 'Enquirer telephone number' -->
                {% include 'snippets/enquiry_field_input_tel.html' with instance=enquiry.enquirer field="phone_country_code" %}
                {% include 'snippets/enquiry_field_input_tel.html' with instance=enquiry.enquirer field="phone" %}

                {% include 'snippets/enquiry_field_select.html' with instance=enquiry.enquirer field="request_for_call" %}

            </div>

            <div class="govuk-grid-row enquiry-detail__row">

                <h3 class="govuk-heading-m">Marketing</h3>

                {% include 'snippets/enquiry_field_input.html' with instance=enquiry field="google_campaign" %}

                {% include 'snippets/enquiry_field_select.html' with instance=enquiry field="marketing_channel" %}

                <!-- TODO: Change label to 'How did they hear about DIT?' -->
                {% include 'snippets/enquiry_field_select.html' with instance=enquiry field="how_they_heard_dit" %}

                {% include 'snippets/select_boolean.html' with label="Consent (email)" field="email_consent" value=consents.email %}

                {% include 'snippets/select_boolean.html' with label="Consent (telephone)" field="phone_consent" value=consents.phone %}

            </div>

            <div class="govuk-grid-row enquiry-detail__row">

                <h3 class="govuk-heading-m">HPO details</h3>

                <!-- TODO: Change label to 'HPO selection' -->
                {% include 'snippets/enquiry_field_select.html' with instance=enquiry field="first_hpo_selection" %}

                <!-- TODO: Change label to 'Second HPO selection' -->
                {% include 'snippets/enquiry_field_select.html' with instance=enquiry field="second_hpo_selection" %}

                <!-- TODO: Change label to 'Third HPO selection' -->
                {% include 'snippets/enquiry_field_select.html' with instance=enquiry field="third_hpo_selection" %}

            </div>


            <div class="govuk-grid-row enquiry-detail__row">

                <h3 class="govuk-heading-m">Data Hub</h3>

                {% include 'snippets/enquiry_field_select.html' with instance=enquiry field="organisation_type" %}

                {% include 'snippets/enquiry_field_select.html' with instance=enquiry field="investment_type" %}

                {% include 'snippets/enquiry_field_input.html' with instance=enquiry field="project_name" %}

                {% include 'snippets/enquiry_field_textarea.html' with instance=enquiry field="project_description" %}

                {% include 'snippets/enquiry_field_textarea.html' with instance=enquiry field="anonymised_project_description" %}

                {% include 'snippets/enquiry_field_input_date.html' with instance=enquiry field="estimated_land_date" %}

                <!-- TODO: Change label to 'New or existing investor' -->
                {% include 'snippets/enquiry_field_select.html' with instance=enquiry field="new_existing_investor" %}

                <!-- TODO: Change label to 'Investor level of involvement' -->
                {% include 'snippets/enquiry_field_select.html' with instance=enquiry field="investor_involvement_level" %}

                {% include 'snippets/enquiry_field_select.html' with instance=enquiry field="specific_investment_programme" %}

                <div class="govuk-form-group">
                    <label class="govuk-label" for="client_relationship_manager">
                        {{ enquiry|get_field_verbose_name:"client_relationship_manager" }}
                    </label>
                    {{ form.client_relationship_manager }}
                </div>

                {% include 'snippets/enquiry_field_input_date.html' with instance=enquiry field="date_added_to_datahub" %}

                {% include 'snippets/enquiry_field_input.html' with instance=enquiry field="project_code" %}

                {% include 'snippets/enquiry_field_input_date.html' with instance=enquiry field="project_success_date" %}

                 {% include 'snippets/enquiry_field_textarea.html' with instance=enquiry field="notes" %}

                <input type="hidden" name="enquirer" value="{{ enquiry.enquirer.id }}">

            </div>
            <input
                type="submit"
                class="govuk-button"
                data-module="govuk-button"
                value="Save and return"
             />
            <a
                href={% url 'enquiry-detail' enquiry.id %}
                class="govuk-button govuk-button--secondary"
            >
                Cancel
            </a>
            <a
                href={% url 'enquiry-delete' enquiry.id %}
                class="govuk-button govuk-button--secondary"
            >
                Delete enquiry
            </a>
        </form>
    </main>
</div>

{% include 'partials/govuk_footer_partial.html' %}
{{ form.media }}
