{% load static %}

{% include 'base.html' %}

{% include 'partials/govuk_header_partial.html' %}

<div class="govuk-width-container">

    <a href="{% url 'enquiry-list' %}" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper">

        {% csrf_token %}
        {% load widget_tweaks %}
        {% load rest_framework %}

        <div class="govuk-grid-row enquiry-details-row enquiry-details-header">

            <h2 class="govuk-heading-l">{{ serializer.company_name.value }}</h2>

            <dl class="govuk-summary-list--no-border">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Date received
                    </dt>
                    <dd class="govuk-summary-list__value">{{ serializer.created.value }}</dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Date last updated
                    </dt>
                    <dd class="govuk-summary-list__value">{{ serializer.modified.value }}</dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Enquiry stage
                    </dt>
                    <dd class="govuk-summary-list__value">{{ serializer.enquiry_stage.value }}</dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Owner
                    </dt>
                    <dd class="govuk-summary-list__value">{% if obj.owner %}{{ obj.owner.user }} {%else%} {{ "Unassigned" }} {%endif%}</dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
            </dl>
        </div>

        <div class="govuk-grid-row enquiry-details-row">

            <h3 class="govuk-heading-m">Enquiry details</h3>

            <div class="govuk-form-group">
                <label class="govuk-label" for="enquiry-text">
                    Enquiry text
                </label>
                <textarea class="govuk-textarea" id="enquiry-text" name="enquiry-text"
                    rows="5">China Electronics are looking to expand our presence in the UK by opening a new production facility in Dartford, Kent to complement our existing UK site in Derby. We have secured a site and are looking to...</textarea>
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="investment-readiness">
                    Investment readiness
                </label>
                <select class="govuk-select" id="investment-readiness" name="investment-readiness">
                    <option value="convinced" selected>I’m convinced and want to talk to someone about my plans.</option>
                    <option value="shortlist">The UK is on my shortlist. How can the Department for International Trade help me?</option>
                    <option value="exploring">I’m still exploring where to expand my business and would like to know more about the UK’s offer.</option>
                    <option value="not-yet-ready">I’m not yet ready to invest. Keep me informed.</option>
                </select>
            </div>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend">
                        Quality
                    </legend>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="quality" name="quality" type="radio"
                                value="junk">
                            <label class="govuk-label govuk-radios__label" for="quality">
                                Junk
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="quality-2" name="quality" type="radio"
                                value="non-fdi">
                            <label class="govuk-label govuk-radios__label" for="quality-2">
                                Non-FDI or potentially non-FDI
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="quality-3" name="quality" type="radio"
                                value="potentially-fdi">
                            <label class="govuk-label govuk-radios__label" for="quality-3">
                                Potentially FDI
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="quality-4" name="quality" type="radio"
                                value="fdi" checked>
                            <label class="govuk-label govuk-radios__label" for="quality-4">
                                FDI or likely FDI
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend">
                        First response channel
                    </legend>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="" name="first-response-channel" type="radio"
                                value="call">
                            <label class="govuk-label govuk-radios__label" for="first-response-channel">
                                Call
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="first-response-channel-2" name="first-response-channel" type="radio"
                                value="email" checked>
                            <label class="govuk-label govuk-radios__label" for="first-response-channel-2">
                                Email
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="first-response-channel-3" name="first-response-channel" type="radio"
                                value="not-yet-responded">
                            <label class="govuk-label govuk-radios__label" for="first-response-channel-3">
                                Not yet responded
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

        </div>

        <div class="govuk-grid-row enquiry-details-row">

            <h3 class="govuk-heading-m">Company details</h3>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Website
                    </dt>
                    <dd class="govuk-summary-list__value">{{ serializer.website.value }}</dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Country
                    </dt>
                    <dd class="govuk-summary-list__value">{{ serializer.country.value }}</dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Region
                    </dt>
                    <dd class="govuk-summary-list__value">{{ serializer.region.value }}</dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Company HQ address
                    </dt>
                    <dd class="govuk-summary-list__value">{{ serializer.request_for_call.value }}</dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Primary sector
                    </dt>
                    <dd class="govuk-summary-list__value">{{ serializer.primary_sector.value }}</dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        IST sector
                    </dt>
                    <dd class="govuk-summary-list__value">{{ serializer.ist_sector.value }}</dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
            </dl>

        </div>

        <div class="govuk-grid-row enquiry-details-row">

            <h3 class="govuk-heading-m">Contact</h3>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Enquirer first name
                    </dt>
                    <dd class="govuk-summary-list__value">{{ serializer.enquirer_first_name.value }}</dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Enquirer last name
                    </dt>
                    <dd class="govuk-summary-list__value">{{ serializer.enquirer_last_name.value }}</dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Job title
                    </dt>
                    <dd class="govuk-summary-list__value">{{ serializer.job_title.value }}</dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Enquirer email address
                    </dt>
                    <dd class="govuk-summary-list__value">{{ serializer.enquirer_email.value }}</dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Telephone number
                    </dt>
                    <dd class="govuk-summary-list__value">{{ serializer.enquirer_phone.value }}</dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Request for call
                    </dt>
                    <dd class="govuk-summary-list__value">{{ serializer.request_for_call.value }}</dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
            </dl>

        </div>

        <div class="govuk-grid-row enquiry-details-row">

            <h3 class="govuk-heading-m">Marketing</h3>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Google campaign
                    </dt>
                    <dd class="govuk-summary-list__value">{{ serializer.google_campaign.value }}</dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Marketing channel
                    </dt>
                    <dd class="govuk-summary-list__value">{{ serializer.marketing_channel.value }}</dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        How did they hear about DIT?
                    </dt>
                    <dd class="govuk-summary-list__value">{{ serializer.how_they_heard_dit.value }}</dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Consent (email)
                    </dt>
                    <dd class="govuk-summary-list__value">{% if serializer.email_consent.value %}{{ 'Yes' }}{% else %}{{ 'No' }}{% endif %}</dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Consent (telephone)
                    </dt>
                    <dd class="govuk-summary-list__value">{% if serializer.phone_consent.value %}{{ 'Yes' }}{% else %}{{ 'No' }}{% endif %}</dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                </div>
            </dl>

        </div>

        <div class="govuk-grid-row enquiry-details-row">

            <h3 class="govuk-heading-m">HPO details</h3>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        HPO selection
                    </dt>
                    <dd class="govuk-summary-list__value">{{ serializer.first_hpo_selection.value }}</dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                </div>
            </dl>

        </div>


        <div class="govuk-grid-row enquiry-details-row">

            <h3 class="govuk-heading-m">Data Hub</h3>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Organisation type
                    </dt>
                    <dd class="govuk-summary-list__value">{{ serializer.organisation_type.value }}</dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Type of investment
                    </dt>
                    <dd class="govuk-summary-list__value">{{ serializer.investment_type.value }}</dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Project name
                    </dt>
                    <dd class="govuk-summary-list__value">{{ serializer.project_name.value }}</dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Project description
                    </dt>
                    <dd class="govuk-summary-list__value">{{ serializer.project_description.value }}</dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Anonymised project description
                    </dt>
                    <dd class="govuk-summary-list__value">{{ serializer.anonymised_project_description.value }}</dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Estimated land date
                    </dt>
                    <dd class="govuk-summary-list__value">{{ serializer.estimated_land_date.value }}</dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        New or existing investor
                    </dt>
                    <dd class="govuk-summary-list__value">{{ serializer.new_existing_investor.value }}</dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Investor level of involvement
                    </dt>
                    <dd class="govuk-summary-list__value">{{ serializer.investor_involvement_level.value }}</dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Specific investment programme
                    </dt>
                    <dd class="govuk-summary-list__value">{{ serializer.specific_investment_program.value }}</dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        CRM
                    </dt>
                    <dd class="govuk-summary-list__value">{{ serializer.crm.value }}</dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Date added to Data Hub
                    </dt>
                    <dd class="govuk-summary-list__value">{{ serializer.date_added_to_datahub.value }}</dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Project code
                    </dt>
                    <dd class="govuk-summary-list__value">{{ serializer.project_code.value }}</dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Data Hub project status
                    </dt>
                    <dd class="govuk-summary-list__value">{{ serializer.datahub_project_status.value }}</dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Project success date
                    </dt>
                    <dd class="govuk-summary-list__value">{{ serializer.project_success_date.value }}</dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                </div>
            </dl>

        </div>

        <div class="govuk-grid-row enquiry-details-row">

            <h3 class="govuk-heading-m">Notes</h3>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Notes
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ serializer.notes.value }}
                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                </div>
            </dl>

        </div>

        <button class=" govuk-button
                govuk-button--secondary govuk-!-margin-right-1" data-module="govuk-button">
            Edit details
        </button>

        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Export csv file
        </button>

        <p></p>

        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
            Submit to Data Hub
        </button>

        <p></p>

        <h2 class="govuk-heading-m">Audit history</h2>

        <p>Preeti Pasricha made 7 changes on 3 February 2020.</p>

        <p>Preeti Pasricha created the enquiry on 31 January 2020.</p>

        <a class="govuk-link" href="#">View full audit history</a>

    </main>
</div>

{% include 'partials/govuk_footer_partial.html' %}