{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">

        <h2 class="govuk-heading-l">Enquiries</h2>
        {% load rest_framework %}
        <article>
            <header class="collection-header">
                <!-- TODO: Add filter controls and data to header -->
                <div class="collection-header-row">
                    <div class="collection-header-intro">
                        <span class="big-number-of-enquiries">{{ serializer|length }}</span> enquiries
                        <div class="collection-header-actions">
                            <!-- <a class="header-link-remove-all-filters" href="#">Remove all filters</a> -->
                        </div>
                    </fieldset>
                </div>
                <div class="govuk-form-group filter-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h3 class="govuk-fieldset__heading">
                                Owner
                            </h3>
                        </legend>
                        <div class="govuk-checkboxes govuk-checkboxes--small">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="stage" name="stage" type="checkbox"
                                    value="new">
                                <label class="govuk-label govuk-checkboxes__label" for="stage">
                                    IST User 1
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="stage-2" name="stage" type="checkbox"
                                    value="awaiting">
                                <label class="govuk-label govuk-checkboxes__label" for="stage-2">
                                    IST User 2
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="stage-3" name="stage" type="checkbox"
                                    value="engaged">
                                <label class="govuk-label govuk-checkboxes__label" for="stage-3">
                                    IST User 3
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="stage-4" name="stage" type="checkbox"
                                    value="non-responsive">
                                <label class="govuk-label govuk-checkboxes__label" for="stage-4">
                                    IST User 4
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="stage-4" name="stage" type="checkbox"
                                    value="non-fdi">
                                <label class="govuk-label govuk-checkboxes__label" for="stage-4">
                                    IST User 5
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="stage-4" name="stage" type="checkbox"
                                    value="added-to-data-hub">
                                <label class="govuk-label govuk-checkboxes__label" for="stage-4">
                                    Unassigned
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="govuk-form-group filter-form-group">
                    <label class="govuk-label" for="date-received-before">
                        Date received before
                    </label>
                    <input class="govuk-input" id="date-received-before" name="date-received-before" type="date">
                </div>
                <div class="govuk-form-group filter-form-group">
                    <label class="govuk-label" for="date-received-after">
                        Date received after
                    </label>
                    <input class="govuk-input" id="date-received-after" name="date-received-after" type="date">
                </div>
                <div class="govuk-form-group filter-form-group">
                    <label class="govuk-label" for="company-name">
                        Company name
                    </label>
                    <input class="govuk-input" id="company-name" name="company-name" type="searchs">
                </div>
                <div class="govuk-form-group filter-form-group">
                    <label class="govuk-label" for="enquirer-email">
                        Enquirer email address
                    </label>
                    <input class="govuk-input" id="enquirer-email" name="enquirer-email" type="searchs">
                </div>
                <div class="govuk-form-group filter-form-group">
                    <label class="govuk-label" for="date-received-before">
                        Date added to Data Hub before
                    </label>
                    <input class="govuk-input" id="date-received-before" name="date-received-before" type="date">
                </div>
                <div class="govuk-form-group filter-form-group">
                    <label class="govuk-label" for="date-received-after">
                        Date added to Data Hub after
                    </label>
                    <input class="govuk-input" id="date-received-after" name="date-received-after" type="date">
                </div>
                <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
                    Apply filters
                </button>
                <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    Clear filters
                </button>
            </div>


            <div class="govuk-grid-column-two-thirds">

                {% load rest_framework %}
                <article>
                    <header class="collection-header">
                        <!-- TODO: Add filter controls and data to header -->
                        <div class="collection-header-row">
                            <div class="collection-header-intro">
                                <span class="big-number-of-enquiries">{{ serializer|length }}</span> enquiries
                                <div class="collection-header-actions">
                                    <!-- <a class="header-link-remove-all-filters" href="#">Remove all filters</a> -->
                                </div>
                                <div class="entity-content-item">
                                    <span class="list-item-label">Date last updated</span>
                                    <span class="list-item-value">{{ obj.modified }}</span>
                                </div>
                                <div class="entity-content-item">
                                    <span class="list-item-label">Call requested</span>
                                    <span class="list-item-value">{{ obj.enquirer.request_for_call }}</span>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ol>
                    <nav class="pagination"></nav>
                </article>

            </div>
        </div>
    </main>
</div>
{% endblock main %}