{% load static %}

{% include 'base.html' %}

{% include 'partials/govuk_header_partial.html' %}

{% load widget_tweaks %}
{% load rest_framework %}
{% load enquiries_extras %}

<div class="govuk-width-container">

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

    <a href="{% url 'enquiry-detail' enquiry.id %}" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row enquiry-details-row enquiry-details-header">

            <h2 class="govuk-heading-l">{{ enquiry.company_name }}</h2>

            <dl class="govuk-summary-list--no-border">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Date received
                    </dt>
                    <dd class="govuk-summary-list__value">{{ enquiry|get_field_value:"created" }}</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Date last updated
                    </dt>
                    <dd class="govuk-summary-list__value">{{ enquiry|get_field_value:"modified" }}</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Enquiry stage
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ enquiry|get_field_value:"enquiry_stage" }}</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Owner
                    </dt>
                    <dd class="govuk-summary-list__value">{% if enquiry.owner %}{{ enquiry.owner }} {%else%}
                        {{ "Unassigned" }} {%endif%}</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Company in Data Hub
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <a href="#">
                            Alphabet Projects
                        </a>
                    </dd>
                </div>
            </dl>
        </div>

        <form class="form" action="{% url 'enquiry-edit' enquiry.id %}" method="post">
            {% csrf_token %}

            <div class="govuk-grid-row enquiry-details-row">

                <h3 class="govuk-heading-m">Enquiry overview</h3>

                {% include 'snippets/enquiry_field_input.html' with instance=enquiry field="company_name" %}

                {% include 'snippets/enquiry_field_input.html' with instance=enquiry field="company_hq_address" %}

                {% include 'snippets/enquiry_field_select.html' with instance=enquiry field="enquiry_stage" %}

                <!-- TODO: Replace with snippet when owner implementation is ready -->
                <div class="govuk-form-group">
                    <label for="owner" class="govuk-label">
                        {{ enquiry|get_field_verbose_name:"owner" }}
                    </label>
                    <select name="owner" id="{{ enquiry.owner }}" class="govuk-select">
                        <option value="" {% if not enquiry.owner %} selected {% endif %}>
                            Unassigned
                        </option>
                        {% for owner in enquiry|get_owners %}
                        <option value="{{ owner.id }}" {% if enquiry.owner.id == owner.id %} selected {% endif %}>
                            {{ owner }}
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label label-inline">
                        Company in Data Hub
                    </label>
                    <a class="govuk-link company-search-link" href="{% url 'enquiry-company-search' enquiry.id %}">Search for Data Hub company</a>
                    
                    {% include 'snippets/company_search_result.html' with company_name="Alphabet Projects" company_address="Infinity Park Derby, Sinfin Moor Ln, Derby, DE24 9QG, United Kingdom" %}

                </div>

            </div>

            <div class="govuk-grid-row enquiry-details-row">

                <h3 class="govuk-heading-m">Enquiry details</h3>

                {% include 'snippets/enquiry_field_textarea.html' with instance=enquiry field="enquiry_text" %}

                {% include 'snippets/enquiry_field_select.html' with instance=enquiry field="investment_readiness" %}

                {% include 'snippets/enquiry_field_select.html' with instance=enquiry field="quality" %}

                {% include 'snippets/enquiry_field_select.html' with instance=enquiry field="first_response_channel" %}

            </div>

            <div class="govuk-grid-row enquiry-details-row">

                <h3 class="govuk-heading-m">Company details</h3>

                {% include 'snippets/enquiry_field_input.html' with instance=enquiry field="website" %}

                {% include 'snippets/enquiry_field_select.html' with instance=enquiry field="country" %}

                {% include 'snippets/enquiry_field_select.html' with instance=enquiry field="region" %}

                {% include 'snippets/enquiry_field_select.html' with instance=enquiry field="primary_sector" %}

                <!-- TODO: investigate issue and fix Ist sector to IST sector -->
                {% include 'snippets/enquiry_field_select.html' with instance=enquiry field="ist_sector" %}

            </div>

            <div class="govuk-grid-row enquiry-details-row">

                <h3 class="govuk-heading-m">Contact</h3>

                {% include 'snippets/enquiry_field_input.html' with instance=enquiry.enquirer field="first_name" %}

                {% include 'snippets/enquiry_field_input.html' with instance=enquiry.enquirer field="last_name" %}

                {% include 'snippets/enquiry_field_input.html' with instance=enquiry.enquirer field="job_title" %}

                <!-- TODO: Change label 'Enquirer email' to 'Enquirer email address' -->
                {% include 'snippets/enquiry_field_input_email.html' with instance=enquiry.enquirer field="email" %}

                <!-- TODO: Change label 'Enquirer phone' to 'Enquirer telephone number' -->
                {% include 'snippets/enquiry_field_input_tel.html' with instance=enquiry.enquirer field="phone" %}

                {% include 'snippets/enquiry_field_select.html' with instance=enquiry.enquirer field="request_for_call" %}

            </div>

            <div class="govuk-grid-row enquiry-details-row">

                <h3 class="govuk-heading-m">Marketing</h3>

                {% include 'snippets/enquiry_field_input.html' with instance=enquiry field="google_campaign" %}

                {% include 'snippets/enquiry_field_select.html' with instance=enquiry field="marketing_channel" %}

                <!-- TODO: Change label to 'How did they hear about DIT?' -->
                {% include 'snippets/enquiry_field_select.html' with instance=enquiry field="how_they_heard_dit" %}

                <!-- TODO: Change label to 'Consent (email)' -->
                {% include 'snippets/enquiry_field_boolean_select.html' with instance=enquiry.enquirer field="email_consent" %}

                <!-- TODO: Change label to 'Consent (telephone)' -->
                {% include 'snippets/enquiry_field_boolean_select.html' with instance=enquiry.enquirer field="phone_consent" %}

            </div>

            <div class="govuk-grid-row enquiry-details-row">

                <h3 class="govuk-heading-m">HPO details</h3>

                <!-- TODO: Change label to 'HPO selection' -->
                {% include 'snippets/enquiry_field_select.html' with instance=enquiry field="first_hpo_selection" %}

                <!-- TODO: Change label to 'Second HPO selection' -->
                {% include 'snippets/enquiry_field_select.html' with instance=enquiry field="second_hpo_selection" %}

                <!-- TODO: Change label to 'Third HPO selection' -->
                {% include 'snippets/enquiry_field_select.html' with instance=enquiry field="third_hpo_selection" %}

            </div>


            <div class="govuk-grid-row enquiry-details-row">

                <h3 class="govuk-heading-m">Data Hub</h3>

                {% include 'snippets/enquiry_field_select.html' with instance=enquiry field="organisation_type" %}

                {% include 'snippets/enquiry_field_select.html' with instance=enquiry field="investment_type" %}

                {% include 'snippets/enquiry_field_input.html' with instance=enquiry field="project_name" %}

                {% include 'snippets/enquiry_field_textarea.html' with instance=enquiry field="project_description" %}

                {% include 'snippets/enquiry_field_textarea.html' with instance=enquiry field="anonymised_project_description" %}

                {% include 'snippets/enquiry_field_input_date.html' with instance=enquiry field="estimated_land_date" %}

                <!-- TODO: Change label to 'New or existing investor' -->
                {% include 'snippets/enquiry_field_select.html' with instance=enquiry field="new_existing_investor" %}

                <!-- TODO: Change label to 'Investor level of involvement' -->
                {% include 'snippets/enquiry_field_select.html' with instance=enquiry field="investor_involvement_level" %}

                {% include 'snippets/enquiry_field_select.html' with instance=enquiry field="specific_investment_programme" %}

                <!-- TODO: Full implementation searches Data Hub for users -->
                {% include 'snippets/enquiry_field_input.html' with instance=enquiry field="crm" %}

                <!-- TODO: Change label to 'Date added to Data Hub' -->
                {% include 'snippets/enquiry_field_input_date.html' with instance=enquiry field="date_added_to_datahub" %}

                {% include 'snippets/enquiry_field_input.html' with instance=enquiry field="project_code" %}

                <!-- TODO: Change label to 'Data Hub project status' -->
                {% include 'snippets/enquiry_field_select.html' with instance=enquiry field="datahub_project_status" %}

                {% include 'snippets/enquiry_field_input_date.html' with instance=enquiry field="project_success_date" %}

                <input style="display: none;" name="enquirer" value="{{ enquiry.enquirer.id }}">

            </div>

            <div class="govuk-grid-row enquiry-details-row">

                <h3 class="govuk-heading-m">Notes</h3>

                {% include 'snippets/enquiry_field_textarea.html' with instance=enquiry field="notes" %}

            </div>

            <button class="govuk-button" data-module="govuk-button" type="submit">Save and return</button>
            <button onclick="window.location.href=`{% url 'enquiry-detail' enquiry.id %}`" type="button" class="govuk-button govuk-button--secondary" data-module="govuk-button">Cancel</button>

        </form>

    </main>
</div>

{% include 'partials/govuk_footer_partial.html' %}
