{% load static %}

{% include 'base.html' %}

{% include 'partials/govuk_header_partial.html' %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">

        <h2 class="govuk-heading-l">Enquiries</h2>

        {% load rest_framework %}
        {% for obj in serializer.data %}
        <article>
            <header class="collection-header">
                <!-- TODO: Add filter controls and data to header -->
                <div class="collection-header-row">
                    <div class="collection-header-intro">
                        <span class="big-number-of-enquiries">{{ serializer.data|length }}</span> enquiries
                        <div class="collection-header-actions">
                            <!-- <a class="header-link-remove-all-filters" href="#">Remove all filters</a> -->
                        </div>
                    </div>
                    <!-- <div class="collection-filter-summary">Stage: New</div> -->
                </div>
                <!-- <div class="collection-header-row">
                    <span class="header-page-number">Page 1 of 5</span>
                </div> -->
            </header>
            <ol class="entity-list">
                <li class="entity-list-item">
                    <div class="entity-enquiry">
                        <div class="entity-header">
                            <div class="entity-title">
                                <h3>
                                    <a class="entity-title-link" href="#">{{ obj.company_name }}</a>
                                </h3>
                            </div>
                            <div class="entity-badges">
                                <div class="entity-badges-list">
                                    <div class="entity-badges-item">
                                        <span>{{ obj.enquiry_stage }}</span>
                                    </div>
                                    <div class="entity-badges-item">
                                        <span>{{ obj.owner }}</span>
                                    </div>
                                    <div class="entity-badges-item">
                                        <span>{{ obj.country }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="entity-subtitle">
                                Date received {{ obj.created }}
                            </div>
                        </div>
                        <div class="entity-content">
                            <div class="entity-content-list">
                                <div class="entity-content-item">
                                    <span class="list-item-label">Enquiry text</span>
                                    <span class="list-item-value">{{ obj.enquiry_text }}</span>
                                </div>
                                <div class="entity-content-item">
                                    <span class="list-item-label">Date last updated</span>
                                    <span class="list-item-value">{{ obj.updated }}</span>
                                </div>
                                <div class="entity-content-item">
                                    <span class="list-item-label">Call?</span>
                                    <span class="list-item-value">{{ obj.request_for_call }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ol>
            <nav class="pagination"></nav>
            {% endfor %}
        </article>
    </main>
</div>

{% include 'partials/govuk_footer_partial.html' %}
