{% load static %}
{% include 'base.html' %}
{% load enquiries_extras %}
{% include 'partials/govuk_header_partial.html' %}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">

        <h2 class="govuk-heading-l">Enquiries</h2>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-one-third filters__column">
                {% include 'partials/enquiry_filters.html' %}
            </div>

            <div class="govuk-grid-column-two-thirds">
                {% load rest_framework %}
                <article>
                    <header class="collection-header">
                        <!-- TODO: Add filter controls and data to header -->
                        <div class="collection-header__top-row">
                            <div class="collection-header__intro">
                                <span class="big-number-of-enquiries">{{ count }}</span> enquiries
                                <a href="{% url 'import-enquiries' %}"
                                    class="import-enquiries-button govuk-button govuk-button--secondary"
                                    data-module="govuk-button">
                                    Import enquiries
                                </a>
                                <div class="collection-header__actions">
                                    <!-- <a class="header-link-remove-all-filters" href="#">Remove all filters</a> -->
                                </div>
                            </div>
                        </div>
                        <div class="collection-header__row collection-header__row-no-border">
                            <div class="header-page-number-container">
                                <span class="header-page-number">Page {{ current_page }} of {{ total_pages }}</span>
                            </div>
                            <div class="sortby-container">
                                <label for="sortby" class="govuk-label sortby-label">
                                    Sort by
                                </label>
                                <select name="sortby" class="govuk-select sortby-select" onchange="window.location.href='{% url 'enquiry-list' %}?sortby=' + this.value">
                                    <option value="name" {% if request.query_params.sortby == "name" %} selected {% endif %}>
                                        Company name: A-Z
                                    </option>
                                    <option value="updated" {% if request.query_params.sortby == "updated" %} selected {% endif %}>
                                            Most recently updated
                                    </option>
                                    <option value="received:asc" {% if request.query_params.sortby == "received:asc" %} selected {% endif %}>
                                            Date received: old-new
                                    </option>
                                    <option value="received:desc" {% if request.query_params.sortby == "received:desc" %} selected {% endif %}>
                                        Date received: new-old
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="collection-header__row">
                            <div class="download-button-container">
                                <button
                                    onclick="location.search += (location.search ? '&' : '') + 'format=csv' "
                                    class="govuk-button download-enquiries-button"
                                >
                                    Download all
                                </button>
                            </div>
                        </div>
                    </header>
                    <ol class="entity-list">
                        {% for obj in results %}
                        {% include 'snippets/enquiry_item.html' with enquiry=obj %}
                        {% endfor %}
                    </ol>
                </article>
                {% if total_pages > 1 %}
                <div class="govuk-grid-row">
                    <nav class="pagination" aria-label="pagination">
                        <ol>
                            {% if previous %}
                                <li class="pagination__item">
                                    <a class="pagination__link" href="{{ previous }}">
                                        Previous
                                    </a>
                                </li>
                            {%endif%}

                            {% for page in pages %}
                                    {% if page.current %}
                                        <li class="pagination__item pagination__item--no-link">
                                            <a aria-current="page", aria-disabled="true">
                                                <span class="govuk-visually-hidden">Page</span>{{ page.page_number }} 
                                            </a>
                                        </li>
                                    {% elif page.link %}
                                        <li class="pagination__item">
                                            <a class="pagination__link" href="{{ page.link }}" aria-label="Go to page {{ page.page_number }}">
                                                {{ page.page_number }} 
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="pagination__item pagination__item--no-link" aria-hidden="true">
                                            {{ page.page_number }} 
                                        </li>
                                    {% endif %}
                            {% endfor %}

                            {%if next %}
                                <li class="pagination__item">
                                    <a class="pagination__link" href="{{ next }}">
                                        Next
                                    </a>
                                </li>
                            {%endif%}
                        </ol>
                    </nav>
                </div>
                {% endif %}
            </div>
        </div>
    </main>
</div>
{% include 'partials/govuk_footer_partial.html' %}
