{% load static %}
{% load enquiries_extras %}
{% include 'base.html' %}
{% include 'partials/govuk_header_partial.html' %}

<div class="govuk-width-container">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

    <div class="top-controls">
        <div class="top-controls__back-container">
            <a href="{% url 'enquiry-list' %}" class="govuk-back-link">Back</a>
        </div>
        <div class="top-controls__edit-button-container">
            <a href="{% url 'enquiry-edit' enquiry.id %}" class="govuk-button
            govuk-button--secondary govuk-!-margin-right-1 enquiry-edit__button" data-module="govuk-button">
                Edit details
            </a>
        </div>
    </div>

    <main class="govuk-main-wrapper">
        {% csrf_token %}
        {% load widget_tweaks %}
        {% load rest_framework %}

        {% if errors %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem.
            </h2>
            {% for error in errors %}
                <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for key,value in error.items %}
                    <li>
                        <a href="#{{ key }}">{{ key|title_phrase }}: {{ value }}</a>
                    </li>
                    {% endfor %}
                </ul>
                </div>
            {% endfor %}
        </div>
        {% endif %}
        <div>
        {% if success %}
            <h2>{{ success }}</h2><br>
        </div>
        {% endif %}

        <div class="govuk-grid-row enquiry-detail__row enquiry-detail__header">
            <h2 class="govuk-heading-l">{{ enquiry.company_name }}</h2>
            <dl class="govuk-summary-list--no-border">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Date received
                    </dt>
                    <dd class="govuk-summary-list__value">{{ enquiry|get_field_value:"received" }}</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Date last updated
                    </dt>
                    <dd class="govuk-summary-list__value">{{ enquiry|get_field_value:"modified" }}</dd>
                </div>
                {% include 'snippets/summary_list_key_value.html' with instance=enquiry field="enquiry_stage" %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {{ enquiry|get_field_verbose_name:"owner" }}
                    </dt>
                    <dd class="govuk-summary-list__value">{% if enquiry.owner %}{{ enquiry.owner }} {%else%}
                        {{ "Unassigned" }} {%endif%}</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {{ enquiry|get_field_verbose_name:"dh_assigned_company_name" }}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {%if enquiry.dh_assigned_company_name %}
                        <a href="{{ enquiry|get_dh_company_url }}">
                             {{ enquiry.dh_assigned_company_name }}</a>
                        {% else %} {{ "----" }} {% endif %}
                    </dd>
                </div>
            </dl>
        </div>
        
        <div class="govuk-grid-row enquiry-detail__row">
            <h3 class="govuk-heading-m">Enquiry details</h3>
            <dl class="govuk-summary-list">
                {% include 'snippets/summary_list_key_value.html' with instance=enquiry field="enquiry_text" %}
                {% include 'snippets/summary_list_key_value.html' with instance=enquiry field="investment_readiness" %}
                {% include 'snippets/summary_list_key_value.html' with instance=enquiry field="quality" %}
                {% include 'snippets/summary_list_key_value.html' with instance=enquiry field="first_response_channel" %}
            </dl>
        </div>
        <div class="govuk-grid-row enquiry-detail__row">
            <h3 class="govuk-heading-m">Company details</h3>
            <dl class="govuk-summary-list">
                {% include 'snippets/summary_list_key_value.html' with instance=enquiry field="website" %}
                {% include 'snippets/summary_list_key_value.html' with instance=enquiry field="country" %}
                {% include 'snippets/summary_list_key_value.html' with instance=enquiry field="region" %}
                {% include 'snippets/summary_list_key_value.html' with instance=enquiry field="company_hq_address" %}
                {% include 'snippets/summary_list_key_value.html' with instance=enquiry field="primary_sector" %}
                {% include 'snippets/summary_list_key_value.html' with instance=enquiry field="ist_sector" %}
            </dl>
        </div>
        <div class="govuk-grid-row enquiry-detail__row">
            <h3 class="govuk-heading-m">Contact details</h3>
            <dl class="govuk-summary-list">
                {% include 'snippets/summary_list_key_value.html' with instance=enquiry.enquirer field="first_name" %}
                {% include 'snippets/summary_list_key_value.html' with instance=enquiry.enquirer field="last_name" %}
                {% include 'snippets/summary_list_key_value.html' with instance=enquiry.enquirer field="job_title" %}
                {% include 'snippets/summary_list_key_value.html' with instance=enquiry.enquirer field="email" %}
                {% include 'snippets/summary_list_key_value.html' with instance=enquiry.enquirer field="phone" %}
                {% include 'snippets/summary_list_key_value.html' with instance=enquiry.enquirer field="request_for_call" %}
            </dl>
        </div>
        <div class="govuk-grid-row enquiry-detail__row">
            <h3 class="govuk-heading-m">Marketing information</h3>
            <dl class="govuk-summary-list">
                {% include 'snippets/summary_list_key_value.html' with instance=enquiry field="google_campaign" %}
                {% include 'snippets/summary_list_key_value.html' with instance=enquiry field="marketing_channel" %}
                {% include 'snippets/summary_list_key_value.html' with instance=enquiry field="how_they_heard_dit" %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Consent (email)
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ enquiry.enquirer.email_consent|yesno|capfirst }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Consent (telephone)
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ enquiry.enquirer.phone_consent|yesno|capfirst }}
                    </dd>
                </div>
            </dl>
        </div>
        <div class="govuk-grid-row enquiry-detail__row">
            <h3 class="govuk-heading-m">HPO details</h3>
            <dl class="govuk-summary-list">
                {% include 'snippets/summary_list_key_value.html' with instance=enquiry field="first_hpo_selection" %}
                {% include 'snippets/summary_list_key_value.html' with instance=enquiry field="second_hpo_selection" %}
                {% include 'snippets/summary_list_key_value.html' with instance=enquiry field="third_hpo_selection" %}
            </dl>
        </div>
        <div class="govuk-grid-row enquiry-detail__row">
            <h3 class="govuk-heading-m">Data Hub details</h3>
            <dl class="govuk-summary-list">
                {% include 'snippets/summary_list_key_value.html' with instance=enquiry field="organisation_type" %}
                {% include 'snippets/summary_list_key_value.html' with instance=enquiry field="investment_type" %}
                {% include 'snippets/summary_list_key_value.html' with instance=enquiry field="project_name" %}
                {% include 'snippets/summary_list_key_value.html' with instance=enquiry field="project_description" %}
                {% include 'snippets/summary_list_key_value.html' with instance=enquiry field="anonymised_project_description" %}
                {% include 'snippets/summary_list_key_value.html' with instance=enquiry field="estimated_land_date" %}
                {% include 'snippets/summary_list_key_value.html' with instance=enquiry field="new_existing_investor" %}
                {% include 'snippets/summary_list_key_value.html' with instance=enquiry field="investor_involvement_level" %}
                {% include 'snippets/summary_list_key_value.html' with instance=enquiry field="specific_investment_programme" %}
                {% include 'snippets/summary_list_key_value.html' with instance=enquiry field="client_relationship_manager" %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Date added to Data Hub
                    </dt>
                    <dd class="govuk-summary-list__value"  id="{{ date_added_to_datahub }}">{{ enquiry|get_dh_date_added }}</dd>
                </div>
                {% include 'snippets/summary_list_key_value.html' with instance=enquiry field="project_code" %}
                {% include 'snippets/summary_list_key_value.html' with instance=enquiry field="datahub_project_status" %}
                {% include 'snippets/summary_list_key_value.html' with instance=enquiry field="project_success_date" %}
            </dl>
        </div>
        <div class="govuk-grid-row enquiry-detail__row">
            <h3 class="govuk-heading-m">Notes</h3>
            <dl class="govuk-summary-list">
                {% include 'snippets/summary_list_key_value.html' with instance=enquiry field="notes" %}
            </dl>
        </div>
    </main>
    <form class="form" action="{% url 'enquiry-detail' pk=enquiry.id %}" method="post">
        {% csrf_token %}

        {% if enquiry|can_be_submitted %}
        <button class="govuk-button" data-module="govuk-button" type="submit">Submit to Data Hub</button>
        {% endif %}
    </form>
</div>
{% include 'partials/govuk_footer_partial.html' %}
