{% load static %}
{% include 'base.html' %}
{% include 'partials/govuk_header_partial.html' %}

<div class="govuk-width-container">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

    <a href="{% url 'index' %}" class="govuk-back-link">Back</a>

    <h3>Summary of {{enquiries|length}} imported records</h3>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break">
    <table>
        <thead>
            <th>Company name</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Job title</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Request for call</th>
            <th>Country</th>
        </thead>
        <tbody>
            {% for e in enquiries %}
            <tr>
                <td>{{e.company_name}}</td>
                <td>{{e.enquirer.first_name}}</td>
                <td>{{e.enquirer.last_name}}</td>
                <td>{{e.enquirer.job_title}}</td>
                <td>{{e.enquirer.email}}</td>
                <td>{{e.enquirer.phone}}</td>
                <td>{{e.enquirer.request_for_call}}</td>
                <td>{{e.get_country_display}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break">
</div>
{% include 'partials/govuk_footer_partial.html' %}
