@mixin company-search__result {
    padding: 1em;
    border: 1px solid $govuk-border-colour;
    margin-top: 1em;
}

.company-search__result {
    @include company-search__result()
}

.company-search__assigned-company {
    @include company-search__result()
}

.company-search__result {
    &:hover {
        background-color: rgba(govuk-colour("light-grey"), 0.5);
        border: 1px solid govuk-colour("light-blue");

        &-name {
            color: govuk-colour("light-blue");
        }
    }

    &-name {
        font-weight: bold;
        margin-bottom: 0.5em;
    }
}

.company-search__link {
    float: right;
}

.label--inline {
    display: inline;
}

.company-search__details-text {
    margin-left: 1.5em;
}

.link--no-visited:visited {
    color: #005ea5;
}

.link--no-decoration {
    text-decoration: none;
}

.company-search__button {
    margin-top: 1em;
}

.company-search__result-address-label {
    color: govuk-colour("dark-grey")
}

.company-search__result-address-value {
    color: govuk-colour("black")
}

.company-search__details-link {
    margin-top: govuk-spacing(4);
}
