$govuk-assets-path: '/static/assets/';

@import "node_modules/govuk-frontend/govuk/all";

* {
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif !important;
    margin: 0;
    padding: 0;
}

.govuk-grid-row {
    margin: 0;
}

.govuk-header__logo, .govuk-header__content {
    display: inline-block;
}

.govuk-header__container {
    border-bottom: 10px solid white;
}

.govuk-header__link--service-name {
    font-size: 30px;
}

.govuk-tag {
    transform: translate(5px, -5px);
}

.govuk-header__content {
    padding-left: 0px;
}

span.big-number-of-enquiries {
    font-size: 3rem;
}

.collection-header-intro {
    font-size: 1.5rem;
}

.collection-header-row {
    border-bottom: 5px solid black;
}

ol {
    list-style-type: none;
}

li.entity-list-item {
    padding: 20px 0;
    border-bottom: 1px solid #6f777b;
}

a.entity-title-link {
    text-decoration: none;
    font-size: x-large;
    color: #005ea5;
}

.entity-title {
    display: inline-block;
}

.entity-badges {
    float: right;
}

.entity-badges-list {
    display: inline-block;
}

.entity-badges-item {
    display: inline-block;
    border: 2px solid rgba(11,12,12,0.15);
    border-radius: 5px;
    font-weight: bold;
    padding: 3px;
}

.entity-subtitle {
    margin: 5px 0;
    color: #6f777b;
}

.entity-content-item {
    margin: 10px 0;
    font-size: large;
}

.list-item-label {
    color: #6f777b;
}

.govuk-summary-list .govuk-summary-list__row:nth-child(odd) {
    background-color: rgba(govuk-colour("light-grey"), 0.5);
}

.govuk-summary-list {
    border-top: 2px solid govuk-colour("mid-grey");
}

.govuk-summary-list__key {
    padding: 0 0.5em;
}

.enquiry-details-header {
    background-color: govuk-colour("light-grey");
    padding: 2em;
}

.enquiry-details-row {
    margin-bottom: govuk-spacing(8);
}

.govuk-fieldset__legend {
    font-weight: bold;
    margin-bottom: govuk-spacing(1);
}

.govuk-label {
    font-weight: bold;
}

.govuk-radios__label {
    font-weight: normal;
}

button.enquiry-edit-button {
    float: right;
    margin-bottom: govuk-spacing(8);
}

a.pagination-link {
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color: #005ea5;
}

li.pagination-list-item {
    display: inline-block;
    background-color: #fafafa;
    min-width: 22px;
    text-align: center;
    padding: 0.5em;
    margin: 3px;
}

li:hover.pagination-list-item {
    background-color: #dee0e2;
}

li:active.pagination-list-item {
    border: 3px solid #ffbf47;
    margin: 0px;
}

li.pagination-list-item-current, li:hover.pagination-list-item-current {
    background-color: white;
    color: black;
}

ol.pagination-list {
    margin: auto;
    width:  50%;
}