$govuk-assets-path: '/static/assets/';
$color-green-success: govuk-colour("green");
$color-red-error: govuk-colour("red");
@import "node_modules/govuk-frontend/govuk/all";
@import "_settings";
@import "_enquiries";
@import "_enquiry_list";
@import "_enquiry_detail";
@import "_enquiry_edit";
@import "_enquiry_delete";
@import "_enquiry_import";
@import "_enquiry_company_search";
@import "_pagination";
@import "_autocomplete";
