$govuk-assets-path: '/static/assets/';

@import "node_modules/govuk-frontend/govuk/all";

.enquiry-delete__button {
    float: right;
}

.enquiry-delete__form {
    display: inline;
}

.enquiry-delete__warning {
    display: inline-block;
}